@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

.buttonFooterMenu{
    display: none;
    outline: none;
    font-family:'Anton', sans-serif;
    font-size: 28px;
    text-align: center;
    background-color: #c06014;
    border-radius: 5px;
    text-decoration: none;
    color: #f1eff8;
    width: 260px;
    margin-top: 2%;
    
}

@media screen and (max-width:780px){
    .buttonFooterMenu{
        display: block;
    }

}